<div class="grid grid-2">
  <div class="form-row"><label for="{{ form.code.id_for_label }}">کد تعرفه (HS Code)</label>{{ form.code }}{{ form.code.errors }}</div>
  <div class="form-row"><label for="{{ form.category.id_for_label }}">گروه کالایی</label>{{ form.category }}</div>
</div>
<div class="form-row"><label for="{{ form.title_fa.id_for_label }}">شرح کالا (فارسی)</label>{{ form.title_fa }}{{ form.title_fa.errors }}</div>
<div class="form-row"><label for="{{ form.title_en.id_for_label }}">شرح کالا (انگلیسی)</label>{{ form.title_en }}</div>
<div class="form-row"><label for="{{ form.duty_rate.id_for_label }}">حقوق ورودی (سود بازرگانی)</label>{{ form.duty_rate }}</div>
<div class="form-row"><label for="{{ form.notes.id_for_label }}">توضیحات / ضوابط</label>{{ form.notes }}</div>
