<div class="form-row"><label for="{{ form.title.id_for_label }}">عنوان پرونده / پروژه</label>{{ form.title }}{{ form.title.errors }}</div>
<div class="grid grid-2">
  <div class="form-row"><label for="{{ form.member.id_for_label }}">عضو مجری</label>{{ form.member }}</div>
  <div class="form-row"><label for="{{ form.category.id_for_label }}">دسته‌بندی</label>{{ form.category }}</div>
</div>
<div class="form-row"><label for="{{ form.description.id_for_label }}">شرح کار انجام‌شده</label>{{ form.description }}{{ form.description.errors }}</div>
<div class="form-row"><label for="{{ form.image.id_for_label }}">تصویر</label>{{ form.image }}</div>
<div class="form-row">
  <label for="{{ form.completed_date.id_for_label }}">تاریخ اتمام کار (شمسی)</label>
  {{ form.completed_date }}{{ form.completed_date.errors }}
</div>
